:root {
  /* Light Mode */
  --bg-primary: #f9fafb;
  --bg-secondary: #ffffff;
  --color-blue: #137fec;

  /* Green Shades */
  --green-50: #f0fdf4;
  --green-100: #dcfce7;
  --green-200: #bbf7d0;
  --green-300: #68f263;
  --green-400: #4ade80;
  --green-500: #22c55e;
  --green-800: #166534;
  --green-900: #14532d;

  /* gray */
  --gray-1: #111113;
  --gray-2: #19191b;
  --gray-3: #222325;
  --gray-4: #292a2e;
  --gray-5: #303136;
  --gray-6: #393a40;
  --gray-7: #46484f;
  --gray-8: #5f606a;
  --gray-9: #6c6e79;
  --gray-10: #797b86;
  --gray-11: #b2b3bd;
  --gray-12: #eeeef0;

  /* Shadow System - Soft to Strong */
  --shadow-xs: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  --shadow-sm: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px -1px rgba(0, 0, 0, 1);
  --shadow-md:
    0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -2px rgba(0, 0, 0, 0.1);
  --shadow-lg:
    0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -4px rgba(0, 0, 0, 0.1);
  --shadow-xl:
    0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 8px 10px -6px rgba(0, 0, 0, 0.1);
  --shadow-2xl: 0 25px 50px -12px rgba(0, 0, 0, 0.25);

  /* Spacing Scale (4px Multiplier) */
  --size-0: 0;
  --size-4: 0.25rem; /* 4px */
  --size-8: 0.5rem; /* 8px */
  --size-12: 0.75rem; /* 12px */
  --size-16: 1rem; /* 16px */
  --size-20: 1.25rem; /* 20px */
  --size-24: 1.5rem; /* 24px */
  --size-28: 1.75rem; /* 28px */
  --size-32: 2rem; /* 32px */
  --size-36: 2.25rem; /* 36px */
  --size-40: 2.5rem; /* 40px */
  --size-44: 2.75rem; /* 44px */
  --size-48: 3rem; /* 48px */
  --size-56: 3.5rem; /* 56px */
  --size-64: 4rem; /* 64px */
  --size-80: 5rem; /* 80px */
  --size-100: 6.25rem; /* 100px */
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  padding: 0;
  margin: 0;
  font: inherit;
}

html {
  font-family: var(--font-poppins);
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--bg-primary);
}

body {
  display: flex;
  flex-direction: column;
}

section {
  padding: var(--size-16) var(--size-12);
}

h1,
h2,
h4,
h5,
h6 {
  text-wrap: balance;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

p {
  line-height: var(--lh-normal);
  font-weight: var(--fw-regular);
  margin: 0;
}

img,
svg,
iframe {
  display: block;
  max-width: 100%;
  height: auto;
}

li {
  list-style: none;
}

button {
  cursor: pointer;
}

input,
label {
  display: block;
}
