.overlay {
  border-image: fill 1
    linear-gradient(
      148deg,
      rgba(224, 202, 174, 0.4) 0%,
      rgba(160, 3, 3, 0.4) 100%
    );
}

.hero-section {
  height: 100vh;
  background-image: url("../../assets/img/product-images/maryam-atas-2.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  display: flex;
  flex-direction: center;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.hero-section p {
  font-size: var(--h3);
  margin-top: var(--spacing-20);
  color: var(--color-amber-light-500);
}

.hero-container {
  padding-top: 8rem;
}


