.products .variant-rasa {
  display: flex;
  flex-wrap: wrap;
  padding-top: var(--spacing-20);
  gap: calc(var(--spacing-20) + 10px);
}

.variant-rasa .card-products {
  cursor: pointer;
  overflow: hidden;
  background-color: var(--color-red-700);
  border-radius: 20px;
  border: transparent;
  box-shadow: rgba(0, 0, 0, 0.5) -3px -3px 15px;
  transition: all 0.2s ease;
}

.card-products .card-details {
  display: flex;
  padding: var(--spacing-20);
  justify-content: space-between;
}

.card-details .name-stars,
.btn-price {
  font-size: var(--h6);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--spacing-20);
}

.products .variant-rasa .card-products .card-details h6 {
  color: var(--color-amber-light-500);
}

.products .variant-rasa .card-products:hover {
  box-shadow: rgba(0, 0, 0, 0.5) 3px 3px 15px;
  transform: translateY(-2px);
}

@media (min-width: 48rem) {
  .products .variant-rasa {
    padding-top: var(--spacing-80);
  }

  .products .variant-rasa .card-products {
    width: 48%;
  }
}
