.promo {
  max-width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 2rem;
  margin-top: var(--spacing-80);
  margin-inline: auto;
  padding-block: var(--spacing-80);
  background-color: var(--color-white);
}

.detail-promo h4 {
  font-size: var(--h3);
  margin-bottom: 1rem;
  color: var(--color-red-700);
}

.detail-promo p {
  width: 100%;
  color: var(--color-dark);
}

ul li::marker {
  color: var(--color-red-700);
}

.detail-promo ul {
  line-height: 1.6;
  letter-spacing: 1px;
  margin-top: var(--spacing-20);
  padding-left: 2rem;
}

.detail-promo li {
  font-size: 1rem;
  margin-bottom: 1rem;
  color: var(--color-soft);
}

.promo img {
  width: 100%;
  height: auto;
  border-radius: 2rem;
  margin-top: var(--spacing-20);
}

@media (min-width: 48rem) {
  .promo {
    flex-direction: row;
  }

  .detail-promo p {
    width: 90%;
  }

  .promo img {
    width: 50%;
    height: auto;
  }
}
