/* Global CSS */
@import url('./global/boilerplate.css');
@import url('./global/fonts.css');

/* Components Css */
@import url('./components/header.css');
@import url('./components/info-section.css');
