/* Global CSS */
@import url('./global/boilerplate.css');
@import url('./global/fonts.css');
@import url('./global/input-box.css');
@import url('./global/button.css');

/* Components Css */
@import url('./components/header.css');
@import url('./components/info-section.css');
@import url('./components/form-add-book.css');
@import url('./components/search-filter.css');
