.form-add-book .bookForm {
  margin-top: clamp(1rem, 0.8rem, 1.5rem);
  padding: var(--size-24) var(--size-36);
}

.bookForm {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  gap: var(--size-12);
  max-width: 30rem;
  width: 80%;
  margin: 0 auto;
  background-color: var(--bg-secondary);
  border-radius: var(--size-16);
  display: none;
  z-index: 999;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(5px);
  display: none;
  z-index: 998;
}

.open {
  display: block;
}

.btn-close {
  position: absolute;
  top: var(--size-16);
  right: var(--size-8);
  width: clamp(var(--size-40), 8vw, var(--size-56));
  height: clamp(var(--size-40), 8vw, var(--size-56));
  cursor: pointer;
}

.bookForm input {
  background-color: var(--bg-primary);
}

.bookForm .checkbox-group {
  width: var(--size-100);
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}

.bookForm input[type="checkbox"] {
  width: var(--size-24);
  height: var(--size-24);
  margin-left: var(--size-12);
}

.checkbox-group label {
  cursor: pointer;
}
