.info-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.info-content {
  display: flex;
  flex-direction: column;
  gap: var(--size-4);
}

.info-content h2 {
  font-size: var(--fz-h3);
  color: var(--slate-900);
}

.info-content p {
  font-size: var(--fz-sm);
  color: var(--slate-500);
}
